.full-modal {
    .ant-modal {
        max-width: 40%;
        top: 0;
        left: 50%;
        transform: translateX(-50%); /* 向左移动自身宽度的一半 */
        right: auto;
        padding-bottom: 0;
        margin: 0;
    }
    .ant-modal-content {
        display: flex;
        flex-direction: column;
    }
    .ant-modal-body {
        flex: 1;
        line-height: 1;
    }
}